@{
    ViewData["Title"] = "Configurar Juego";
}

<h2 class = ".">Bienvenido @ViewBag.NombreJugador</h2>
<p class = ".">Categoría : @ViewBag.NombreCategoria</p>
<p class = ".">Dificultad : @ViewBag.NombreDificultad</p>
<form id="categoryForm" action='@Url.ActionLink("Preguntar", "Home")' method="post">
    <input type="hidden" name="idCategoria" id="idCategoria" value="@ViewBag.IdCategoria" />
    <input type="hidden" name="idDificultad" id="idDificultad" value="@ViewBag.IdDificultad" />
    <input type="hidden" name="nombreJugador" id="nombreJugador" value="@ViewBag.NombreJugador" />
    <input type="hidden" name="nombreCategoria" id="nombreCategoria" value="@ViewBag.NombreCategoria" />
    <input type="hidden" name="nombreDificultad" id="nombreDificultad" value="@ViewBag.NombreDificultad" />
    <input type="submit" value="JUGAR" />
</form>
